@media (max-width: 991px) {
	.owl-prev {
		left: 0;
	}
	.owl-next {
		right: 0;
	}
	.single-slider-text p {
		width: 100%;
	}
	.single-blog {
		margin-bottom: 20px;
	}
}


@media (min-width: 768px) {
	.menu ul {
		display: block !important;
	}
}
@media (max-width: 767px) {
	.logo {
		float: left;
	}
	.mobile-menu {
		float: right;
		overflow: hidden;
		margin-top: 16px;
		padding: 5px 10px;
		font-size: 20px;
		border: 2px solid #333;
		cursor: pointer;
		display:block !important;
	}
	.menu {
		text-align: left !important;
		background: #333;
	}
	.menu ul {
		display: none;
	}
	.menu ul li {
		display: inherit;
		margin:4px 20px;
	}
	.menu ul li a {
		color: #fff;
	}
	.single-slider {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.single-slider-text h2 {
		font-size: 40px;
	}
	.about-me {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.about-me-text h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
 
}

@media (max-width: 676px) {
	.section_title h2 {
		font-size: 30px;
		margin-bottom: 23px;
	}
	.section_title p {
		font-size: 17px;
	}
	.blog-area {
		padding: 40px 0px;
	}
	.contact-area {
		padding: 40px 0px;
	}
	.contact-area .row.pt-50 {
		padding-top: 20px;
	}
 
}

@media (max-width: 520px) {

 
}